.input {
  height: 40;

  padding: 0;
  border-radius: 0 !important;
}

.wrapper {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  background-color: var(--mantine-color-gray-0);
  & > input {
    width: 40px;
    height: 40px;
    border: 1px solid var(--mantine-color-gray-3);
    text-align: center;
  }
  & > input:focus {
    z-index: 1;
    border-color: var(--mantine-color-dark-9) !important;
    box-shadow: 0 0 0 1px var(--mantine-color-dark-9) !important;
  }
}
.wrapper {
  &:first-of-type {
    & > input {
      border-top-left-radius: 6px !important;
    }
    & > input {
      border-bottom-left-radius: 6px !important;
    }
  }

  &:last-of-type {
    & > input {
      border-top-right-radius: 6px !important;
    }
    & > input {
      border-bottom-right-radius: 6px !important;
    }
  }
}
