.input {
  border-color: hsl(214.3 31.8% 91.4%);

  &:disabled {
    background-color: rgba(241, 245, 249, 0.5);
    opacity: 1;
    color: rgba(0, 0, 0, 0.5);
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.5);
    opacity: 1;
  }
}
